<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<add name="WorkDb" connectionString="Server=.\SQLEXPRESS; Database = WorkTracker; Trusted_Connection = True;Integrated Security=True; MultipleActiveResultSets = true;Encrypt=True; TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>